<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
   
</head>
<body>
   
    <div id='app'>
      <input type="text" v-model='n1'>

      <select v-model='opt'>
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
      </select>
      <input type="text" v-model='n2'>
      <input type="button" value="=" @click='calc'/>
      <input type="text" v-model='resylt'/>
    </div>
        <script>
        
       
        var vm= new Vue({
            el:"#app",
           
            data:{
                n1:0,
                n2:0,
                resylt:0,
                opt:'+',
            },
            methods:{
                calc(){//计算器蒜素的方法
                    switch(this.opt){
                    case '+':
                        this.resylt=parseInt(this.n1)+parseInt(this.n2)
                        break;
                    case '-':
                        this.resylt=parseInt(this.n1)-parseInt(this.n2)
                        break;
                    case '*':
                        this.resylt=parseInt(this.n1)*parseInt(this.n2)
                        break;
                    case '/':
                        this.resylt=parseInt(this.n1)/parseInt(this.n2)
                        break;
                    }
                }
                //     calc(){
                //     var codeStr= 'parseInt(this.n1)'+this.opt+'parseInt(n2)'
                //         this.resylt=eval(codeStr)
                // }
            }
        
         })
         
        </script>
</body>
</html>